@import "tailwindcss";

html {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  color:white;
}

html,
body,
#root {
  height: 100%;
}

.bagel-fat-one-regular {
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;

}